<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Stack Visualization</h1>
    <div id="input-box">
        <form id="inputForm">
            <input type="text" id="userInput" placeholder="글자를 입력하세요">
            <button id="submitButton" type="button">완료</button>
        </form>
    </div>

    <!-- This is a one-line comment -->
    <div id="displayArea"></div>

    <div id="stackContainer" class="stack-container"></div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
