<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>끝말잇기 게임</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>컴퓨터와 대결하는 끝말잇기</h1>
    <div id="input-box">
        <form id="inputForm">
            <input type="text" id="userInput" placeholder="글자를 입력하세요" disabled>
            <button id="submitButton" type="button" disabled>완료</button>
        </form>
    </div>

    <div id="displayContainer">
        <div id="displayArea"></div>
        <div id="chinDisplay" class="chin"></div>
    </div>

    <div id="stackContainer" class="stack-container"></div>

    <div id="startContainer" class="start-container">
        <button id="startButton" type="button">게임 시작</button>
    </div>

    <div id="winCounts">
        <div id="userWinCount">사용자 승리 횟수: 0</div>
        <div id="comWinCount">컴퓨터 승리 횟수: 0</div>
        <div id="userWinRate">사용자 승률: 0%</div>
        <div id="comWinRate">컴퓨터 승률: 0%</div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
