/* 스택 컨테이너 */
.stack-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 160px;
}

/* 박스 스타일 */
.box {
    width: 300px; /* 박스 너비를 크게 설정 */
    height: 80px; /* 박스 높이를 크게 설정 */
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; /* 여백을 약간 더 넓게 설정 */
    box-sizing: border-box;
    overflow: hidden; /* 내용이 넘치면 숨김 */
    text-overflow: ellipsis; /* 넘치는 내용에 ... 추가 */
    white-space: nowrap; /* 줄바꿈 방지 */
}

/* 빈 박스는 숨김 */
.empty-box {
    display: none;
}

/* 성공 스타일 */
.success {
    color: black;
}

/* 실패 스타일 */
.failure {
    color: red;
    text-decoration: line-through; /* 취소선 추가 */
}

/* 글자 표시 영역 */
.displayArea {
    position: fixed; /* 페이지 스크롤에 영향을 받지 않도록 고정 */
    top: 130px; /* 페이지 상단에서 130px 떨어진 위치 */
    right: 430px; /* 페이지 오른쪽에서 20px 떨어진 위치 */
    width: 500px; /* 박스 너비 */
    height: 50px; /* 박스 높이 */
    background-color: lightgoldenrodyellow;
    padding: 10px;
    border: 1px solid #000;
    overflow: hidden; /* 내용이 넘치면 숨김 */
    text-overflow: ellipsis; /* 넘치는 내용에 ... 추가 */
    white-space: nowrap; /* 줄바꿈 방지 */
    font-size: 26px; /* 글자 크기 설정 */
    display: block;
}